.navbar{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: white;
    position: sticky;
    padding-right: 2rem;
    top: 0;
    z-index: 1000;
    width: 100%;
    transition: height 0.2s ease, box-shadow 0.2s ease;
}

.navbar h1{
    margin: 0 auto 0 0.5rem;
    font-size: 2rem;
    color: black;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav-links a{
    color: black;
    font-weight: bold;
    transition: color 0.2s ease;
    padding-right: 2rem;
}

